<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="c87b81">  <td>22/06/10 01:55:39</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;RestAssuredPostBasic.setPostData()[pri:0, instance:restassuredbdd.test.qa.RestAssuredPostBasic@4667ae56]">&gt;&gt;setPostData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@717386707</td>   <td></td> </tr>
<tr bgcolor="c87b81">  <td>22/06/10 01:55:40</td>   <td>579</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RestAssuredPostBasic.executePostApi()[pri:0, instance:restassuredbdd.test.qa.RestAssuredPostBasic@4667ae56]">executePostApi</td> 
  <td>main@717386707</td>   <td></td> </tr>
<tr bgcolor="c87b81">  <td>22/06/10 01:55:44</td>   <td>4540</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;RestAssuredPostBasic.printCheck()[pri:0, instance:restassuredbdd.test.qa.RestAssuredPostBasic@4667ae56]">&lt;&lt;printCheck</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@717386707</td>   <td></td> </tr>
</table>
